<div class="flex h-full items-center justify-center">
  <div class="text-center text-white">
    <h2 class="mb-4 max-w-2xl text-4xl font-semibold">
      Skip the rental car counter and book anything from daily drivers to pickup
      trucks, from trusted, local hosts on the world's largest car sharing
      marketplace.
    </h2>
    <a
      class="mb-1 mr-3 inline-block rounded border-2 border-gray-200/30 px-7 py-3 font-bold uppercase leading-snug text-white transition duration-150 ease-in-out hover:bg-black/25 focus:outline-none focus:ring-0"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      role="button"
      routerLink="/login"
      >Sign in</a
    >
    <a
      class="mb-1 inline-block rounded border-2 border-gray-200/30 px-7 py-3 font-bold uppercase leading-snug text-white transition duration-150 ease-in-out hover:bg-black/25 focus:outline-none focus:ring-0"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      role="button"
      routerLink="/register"
      >Register</a
    >
  </div>
</div>
