<ul
  class="mx-auto mb-4 flex list-none flex-wrap overflow-hidden border-b-0 bg-black/50 pl-0 text-white md:w-1/2 md:rounded-3xl"
>
  <li class="w-1/2 flex-auto text-center">
    <a
      class="text-shadow-md block w-full cursor-pointer border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 text-2xl font-bold leading-tight transition-all duration-700 hover:border-transparent hover:bg-gray-100/50 focus:border-transparent"
      >Renter Panel</a
    >
  </li>
  <li class="w-1/2 flex-auto text-center">
    <a
      class="text-shadow-md block w-full cursor-pointer border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 text-2xl font-bold leading-tight transition-all duration-700 hover:border-transparent hover:bg-gray-100/50 focus:border-transparent"
      >Owner Panel</a
    >
  </li>
</ul>
<ul
  class="mx-auto mb-4 flex list-none flex-wrap overflow-hidden border-b-0 bg-black/50 pl-0 text-white md:w-2/3 md:rounded-3xl lg:w-1/2"
>
  <li class="w-1/2 flex-auto text-center">
    <a
      class="text-shadow-md block w-full cursor-pointer border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 text-2xl font-bold leading-tight transition-all duration-700 hover:border-transparent hover:bg-gray-100/50 focus:border-transparent"
      >Rental Requests</a
    >
  </li>
  <li class="w-1/2 flex-auto text-center">
    <a
      class="text-shadow-md block w-full cursor-pointer border-x-0 border-t-0 border-b-2 border-transparent px-6 py-3 text-2xl font-bold leading-tight transition-all duration-700 hover:border-transparent hover:bg-gray-100/50 focus:border-transparent"
      >Rentals</a
    >
  </li>
</ul>
