<section class="flex h-full">
  <div
    class="m-auto block w-full rounded-lg bg-white/80 p-9 shadow-lg sm:w-1/3 sm:min-w-fit"
  >
    <form [formGroup]="registerFormGroup">
      <rac-form-control
        [control]="registerFormGroup.get('firstName')"
        controlName="firstName"
        label="First name"
        placeholder="Enter first name"
        type="text"
      ></rac-form-control>
      <rac-form-control
        [control]="registerFormGroup.get('lastName')"
        controlName="lastName"
        label="Last name"
        placeholder="Enter last name"
        type="text"
      ></rac-form-control>
      <rac-form-control
        [control]="registerFormGroup.get('email')"
        [validationMessage]="emailValidationMessage"
        controlName="email"
        label="Email"
        placeholder="Enter email address"
        type="email"
      ></rac-form-control>
      <rac-form-control
        [control]="registerFormGroup.get('password')"
        controlName="password"
        label="Password"
        placeholder="Enter password"
        type="password"
      ></rac-form-control>
      <rac-form-control
        [control]="registerFormGroup.get('confirmPassword')"
        controlName="confirmPassword"
        label="Confirm password"
        placeholder="Enter confirm password"
        type="password"
      ></rac-form-control>
      <rac-form-control
        [control]="registerFormGroup.get('phoneNumber')"
        [validationMessage]="phoneNumberValidationMessage"
        controlName="phoneNumber"
        label="Phone number"
        placeholder="Enter phone number"
        type="text"
      ></rac-form-control>
      <button
        (click)="handleRegister()"
        [disabled]="registerFormGroup.invalid"
        class="text-md w-full rounded bg-rose-600 px-6 py-2.5 leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-rose-700 hover:shadow-lg focus:bg-rose-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-800 active:shadow-lg"
        type="submit"
      >
        Register
      </button>
      <p class="mt-6 text-center text-gray-800">
        Already a member?
        <a
          class="cursor-pointer text-rose-600 transition duration-200 ease-in-out hover:text-rose-700 focus:text-rose-700"
          routerLink="/login"
          >Sign in</a
        >
      </p>
    </form>
  </div>
</section>
