<div class="flex h-full flex-col">
  <div
    [ngClass]="{ 'mb-0 h-full': !carsPage?.totalElements }"
    class="mb-6 mt-3 flex flex-col items-center justify-center gap-5 md:flex-row"
  >
    <div class="text-center text-white">
      <h2 class="text-shadow-md text-7xl font-semibold">
        {{ carsPage?.totalElements }} cars
      </h2>
    </div>
    <div
      class="hidden h-24 border-4 border-white shadow-md shadow-black md:block"
    ></div>
    <a
      (click)="handleCreateModal()"
      class="text-shadow-md inline-block rounded bg-black/25 px-7 py-3 text-2xl font-bold uppercase leading-snug text-white transition duration-700 ease-in-out hover:bg-white/50 focus:outline-none focus:ring-0"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      role="button"
      >Create</a
    >
  </div>

  <div *ngIf="carsPage?.totalElements" class="relative mb-6 md:h-full">
    <div class="pb-7 pt-7">
      <rac-cars-grid [cars]="carsPage!.content"></rac-cars-grid>
      <rac-paginator
        (onPageChange)="handlePageChange($event)"
        [page]="carsPage"
      ></rac-paginator>
    </div>
  </div>
</div>

<rac-modal #modal identifier="createCarModal">
  <rac-car-form
    (onSubmit)="handleCreateFormSubmitted($event)"
    submitLabel="Create"
  ></rac-car-form>
</rac-modal>
