<div class="flex h-full flex-col">
  <div
    [ngClass]="{ 'mb-0 h-full': !carsPage?.totalElements }"
    class="mb-6 mt-3 flex flex-col items-center justify-center gap-5 md:flex-row"
  >
    <div class="text-center text-white">
      <h2 class="text-shadow-md text-7xl font-semibold">
        {{ carsPage?.totalElements }} cars
      </h2>
    </div>
    <div
      class="hidden h-24 border-4 border-white shadow-md shadow-black md:block"
    ></div>
    <a
      (click)="handleCreateModal()"
      class="text-shadow-md inline-block rounded bg-black/25 px-7 py-3 text-2xl font-bold uppercase leading-snug text-white transition duration-700 ease-in-out hover:bg-white/50 focus:outline-none focus:ring-0"
      data-mdb-ripple="true"
      data-mdb-ripple-color="light"
      role="button"
      >Create</a
    >
  </div>

  <div *ngIf="carsPage?.totalElements" class="relative mb-6 md:h-full">
    <div
      class="flex flex-wrap items-stretch justify-around after:w-1/4 after:content-['']"
    >
      <div
        *ngFor="let car of carsPage?.content"
        class="mx-10 mb-7 flex w-3/4 flex-col justify-around rounded-3xl bg-gradient-to-br from-rose-800/50 to-white/50 p-5 text-center shadow-2xl shadow-black md:w-1/3 lg:w-1/4"
      >
        <div class="text-shadow-md text-3xl text-white">
          {{ car?.make }} {{ car?.model }}
        </div>
        <div class="text-shadow-md mb-2 text-xl text-white">
          {{ car?.year }}
        </div>
        <img
          [src]="getFirstCarPhoto(car)"
          alt="Car"
          class="mx-auto h-36 w-fit rounded-xl object-cover"
        />
        <div class="mt-4 flex w-full items-center justify-center">
          <button
            [routerLink]="['/car', 'details', car.id]"
            class="text-md w-1/3 min-w-fit rounded-xl bg-rose-600 px-6 py-2.5 leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-rose-700 hover:shadow-lg focus:bg-rose-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-800 active:shadow-lg"
            type="submit"
          >
            Details
          </button>
        </div>
      </div>
    </div>
    <div class="pb-7 pt-7">
      <rac-paginator
        (onPageChange)="handlePageChange($event)"
        [page]="carsPage"
      ></rac-paginator>
    </div>
  </div>
</div>

<rac-modal #modal identifier="createCarModal">
  <form [formGroup]="createCarFormGroup">
    <rac-form-control
      [control]="createCarFormGroup.get('year')"
      controlName="year"
      label="Year"
      placeholder="Enter year"
      type="select"
    >
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </rac-form-control>
    <rac-form-control
      [control]="createCarFormGroup.get('make')"
      controlName="make"
      label="Make"
      placeholder="Enter make"
      type="select"
    >
      <option *ngFor="let make of makes" [value]="make">{{ make }}</option>
    </rac-form-control>
    <rac-form-control
      [control]="createCarFormGroup.get('model')"
      controlName="model"
      label="Model"
      placeholder="Enter model"
      type="text"
    >
    </rac-form-control>
    <rac-form-control
      [control]="createCarFormGroup.get('mileage')"
      [min]="1"
      controlName="mileage"
      label="Mileage"
      placeholder="Enter mileage"
      type="number"
    ></rac-form-control>
    <rac-form-control
      [control]="createCarFormGroup.get('transmission')"
      controlName="transmission"
      label="Transmission"
      placeholder="Enter transmission"
      type="select"
    >
      <option value="MANUAL">MANUAL</option>
      <option value="AUTOMATIC">AUTOMATIC</option>
    </rac-form-control>
    <rac-image-uploader
      (onImageChange)="handleImageChange($event)"
    ></rac-image-uploader>

    <button
      (click)="handleCreate()"
      [disabled]="createCarFormGroup.invalid || isPhotoUploadInProgress"
      class="text-md w-full rounded bg-rose-600 px-6 py-2.5 leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-rose-700 hover:shadow-lg focus:bg-rose-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-rose-800 active:shadow-lg"
      type="submit"
    >
      Create
    </button>
  </form>
</rac-modal>
