@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    .text-shadow {
      text-shadow: 1px 1px 2px black;
    }

    .text-shadow-md {
      text-shadow: 2px 2px 4px black;
    }

    .text-shadow-lg {
      text-shadow: 5px 5px 10px black;
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@import url("http://fonts.cdnfonts.com/css/nexa-bold");

* {
  font-family: "Nexa", sans-serif;
  font-weight: bold;
}

.form-control:focus, .form-select:focus {
  box-shadow: 0 0 0 1px #a23242 !important;
}


@import '~ngx-toastr/toastr';

.toast-top-center {
  top: 10rem !important;
}

//.toast-error {
//  background: #a23242 !important;
//}

#toast-container > .toast-custom {
  content: "\f00C";
}

.toast-custom {
  background-color: purple;
}


$transition-duration: 1000ms;
@import "~ngx-smart-modal/ngx-smart-modal";

.nsm-content {
  background: none;
  padding: 0;
  box-shadow: none;
  width: 100%;
  height: 100%;
  margin: 0;
}

.nsm-dialog-btn-close {
  top: 5%;
  right: 5%;
}

@import '~viewerjs/dist/viewer.css';

.pac-container {
  z-index: 9999999 !important;
}

.modal-dialog, .nsm-dialog {
  max-width: none;
}

.ngx-slider-pointer {
  background-color: #a23242 !important;

  &.ngx-slider-active:after {
    background-color: darkgray !important;
  }
}

.ngx-slider-bubble {
  color: white !important;
}

.ngx-slider-selection {
  background-color: #a23242 !important;
}

.md-drppicker {
  display: block !important;

  .calendar {
    margin: 0 auto !important;
    float: none !important;
  }
}

.md-drppicker td.active, .md-drppicker td.active:hover {
  background-color: #a23242 !important;
}

