<div class="block justify-between md:flex">
  <div
    [ngClass]="{ '!pb-5': !shouldShowControls }"
    class="slide carousel carousel-dark relative my-auto w-full bg-white/50 pt-5 pb-16 md:w-2/3 md:rounded-r-3xl"
    data-bs-ride="carousel"
    id="carouselIndicators"
  >
    <div
      class="carousel-indicators absolute bottom-0 right-0 left-0 mb-4 flex justify-center p-0"
    >
      <button
        *ngIf="shouldShowControls"
        aria-current="true"
        aria-label="Slide 1"
        class="active"
        data-bs-slide-to="0"
        data-bs-target="#carouselIndicators"
        type="button"
      ></button>
      <button
        *ngFor="let photo of car?.photos?.slice(1); let i = index"
        [attr.data-bs-slide-to]="i + 1"
        data-bs-target="#carouselIndicators"
        type="button"
      ></button>
    </div>
    <div class="carousel-inner relative w-full overflow-hidden">
      <div class="active carousel-item float-left w-full">
        <img
          [src]="firstCarPhoto"
          alt="Car image"
          class="mx-auto block h-96 cursor-pointer rounded-3xl object-cover"
          racImageViewer
        />
      </div>
      <div
        *ngFor="let photo of car?.photos?.slice(1); let i = index"
        class="carousel-item float-left w-full"
      >
        <img
          [src]="photo.url"
          alt="Car image"
          class="mx-auto block h-96 cursor-pointer rounded-3xl object-cover"
          racImageViewer
        />
      </div>
      <button
        *ngIf="shouldShowControls"
        class="carousel-control-prev absolute top-0 bottom-0 left-0 flex w-16 items-center justify-center border-0 p-0 text-center hover:no-underline hover:outline-none focus:no-underline focus:outline-none"
        data-bs-slide="prev"
        data-bs-target="#carouselIndicators"
        type="button"
      >
        <span
          aria-hidden="true"
          class="carousel-control-prev-icon inline-block bg-no-repeat"
        ></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        *ngIf="shouldShowControls"
        class="carousel-control-next absolute top-0 bottom-0 right-0 flex w-16 items-center justify-center border-0 p-0 text-center hover:no-underline hover:outline-none focus:no-underline focus:outline-none"
        data-bs-slide="next"
        data-bs-target="#carouselIndicators"
        type="button"
      >
        <span
          aria-hidden="true"
          class="carousel-control-next-icon inline-block bg-no-repeat"
        ></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div
    class="flex w-full min-w-fit flex-col items-center justify-between bg-gradient-to-br from-rose-800/50 p-5 text-center text-white md:w-1/3 md:rounded-l-3xl lg:w-1/4"
  >
    <div class="w-full">
      <div class="text-shadow-md text-5xl">
        {{ car?.make }} {{ car?.model }}
      </div>
      <div class="text-shadow-md mb-2 text-3xl">{{ car?.year }}</div>
      <hr class="mb-4" />
    </div>
    <div class="w-full">
      <div
        class="text-shadow-md flex h-10 items-center justify-center gap-2 text-2xl"
      >
        <p>Mileage</p>
        <p>-</p>
        <p>{{ car?.mileage }} km.</p>
      </div>
      <div
        class="text-shadow-md flex h-10 items-center justify-center gap-2 text-2xl"
      >
        <p>Transmission</p>
        <p>-</p>
        <p>{{ car?.transmission }}</p>
      </div>
      <div
        *ngIf="isViewerOwner"
        class="text-shadow-md flex h-10 items-center justify-center gap-2 text-2xl"
      >
        <p>Status</p>
        <p>-</p>
        <p>{{ car?.status }}</p>
      </div>
    </div>
    <div class="w-fit rounded-3xl bg-black/50 p-5">
      <div class="text-shadow-md text-3xl">${{ car?.pricePerDay }}</div>
      <div class="text-shadow-md text-xl">Price per day</div>
    </div>
    <button
      (click)="editCarModal.open()"
      *ngIf="isViewerOwner"
      class="text-md text-shadow-md mt-3 mb-1 w-full rounded-3xl bg-black/50 p-5 text-xl leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-black/60 hover:shadow-lg focus:bg-black/60 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-black/60 active:shadow-lg"
      type="submit"
    >
      Modify your car
    </button>
    <button
      (click)="editCarModal.open()"
      *ngIf="!isViewerOwner"
      class="text-md text-shadow-md mt-3 mb-1 w-full rounded-3xl bg-black/50 p-5 text-xl leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-black/60 hover:shadow-lg focus:bg-black/60 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-black/60 active:shadow-lg"
      type="submit"
    >
      Request Rental
    </button>
    <div class="w-full">
      <hr class="my-4" />
      <div class="text-shadow-md text-3xl">
        {{ car?.owner?.firstName }} {{ car?.owner?.lastName }}
      </div>
      <div class="text-shadow-md text-xl">
        {{ car?.owner?.phoneNumber }}
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="car?.location"
  class="mx-auto mt-3 mb-12 overflow-hidden rounded-3xl bg-black/50 pt-5 pb-0 shadow-2xl shadow-black md:mx-5"
>
  <h1
    class="text-shadow-md my-2 px-5 text-center text-3xl font-bold uppercase text-white"
  >
    Pickup Location
  </h1>
  <hr />

  <h1 class="my-2 px-5 text-center text-2xl font-bold text-white">
    {{ car!.location.address }}
  </h1>
  <rac-google-maps [location]="car!.location" [static]="true"></rac-google-maps>
</div>

<rac-modal
  #modal
  (onClose)="handleEditModalClose()"
  *ngIf="car"
  identifier="editCarModal"
>
  <rac-car-form
    (onSubmit)="handleEditFormSubmitted($event)"
    [car]="car"
    submitLabel="Modify"
  ></rac-car-form>
</rac-modal>
